<div class="header">
  <img id="logo" src="assets/img/logo_osprey.png" alt="" />
  <h1 class="tagline">
    BACKPACK <br />
    part of your travel
  </h1>
  <img
    id="sc"
    src="https://img.icons8.com/cute-clipart/64/000000/shopping-cart.png"
  />
</div>

<!-- <ul class="products Osprey">
  <li class="product-wrapper">
    <div class="product-photo">
      <img src="assets/img/Exped_Lightning_45_black_16-200x200.jpg" alt="" />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Exped Lightning 45</p>
    <p class="product-price">Price: €100.00</p>
    <p> <button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img src="assets/img/Exped_Thunder_50_deepseablue_16-200x200.jpg" alt="" />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Exped Thunder 50</p>
    <p class="product-price">Price: €200.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img src="assets/img/FN_HIMIL_60-10_spring_16-200x200.jpg" alt="" />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Himil 60</p>
    <p class="product-price">Price: €240.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_Aether_AG_70_S17_Side_Adirondack_Green_17-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Aether AG 70</p>
    <p class="product-price">Price: €300.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_HIkelite18_S18_Side_AloeGreen_18-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey HikeLite S18 AG</p>
    <p class="product-price">Price: €330.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_HIkelite26_S18_Side_BaccaBlue_18-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey HikeLite S18 BB</p>
    <p class="product-price">Price: €400.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img src="assets/img/Osprey_img1.jpg" alt="" />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Compite G35</p>
    <p class="product-price">Price: €550.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/Osprey_Renn_Side_Aurora_Purple_web_19-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Renn Side</p>
    <p class="product-price">Price: €570.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_Atmos_AG_65_S18_Side_Abyss_Grey_web_18-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Atmos AG65</p>
    <p class="product-price">Price: €320.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_Sirrus_50_S17_Side_Black_17-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Sirrus 50 S17</p>
    <p class="product-price">Price: €400.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img
        src="assets/img/osprey_Stratos_34_S17_Side_Eclipse_Blue_17-200x200.jpg"
        alt=""
      />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Stratos 34 S17</p>
    <p class="product-price">Price: €270.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
  <li class="product-wrapper">
    <div class="product-photo">
      <img src="assets/img/TE_denali_black_red_17-200x200.jpg" alt="" />
    </div>
    <div class="border_line"></div>
    <p>Рюкзак Osprey Denali TE17</p>
    <p class="product-price">Price: €190.00</p>
    <p><button mat-raised-button color="primary">Add to Card</button></p>
    <a href="" class="product"></a>
  </li>
</ul> -->

<mat-grid-list cols="4" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Osprey Denali TE17</mat-card-title>
        <mat-card-subtitle>Men's backpacking</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/TE_denali_black_red_17-200x200.jpg"
        alt="Osprey Denali TE17"
      />
      <mat-card-content>
        <p class="product-price">Price: €190.00</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Card</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="card">
      <mat-card-header>
        <mat-card-title>Osprey Denali TE17</mat-card-title>
        <mat-card-subtitle>Men's backpacking</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/TE_denali_black_red_17-200x200.jpg"
        alt="Osprey Denali TE17"
      />
      <mat-card-content>
        <p class="product-price">Price: €190.00</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Card</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="card">
      <mat-card-header>
        <mat-card-title>Osprey Denali TE17</mat-card-title>
        <mat-card-subtitle>Men's backpacking</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/TE_denali_black_red_17-200x200.jpg"
        alt="Osprey Denali TE17"
      />
      <mat-card-content>
        <p class="product-price">Price: €190.00</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Card</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="card">
      <mat-card-header>
        <mat-card-title>Osprey Denali TE17</mat-card-title>
        <mat-card-subtitle>Men's backpacking</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/TE_denali_black_red_17-200x200.jpg"
        alt="Osprey Denali TE17"
      />
      <mat-card-content>
        <p class="product-price">Price: €190.00</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Card</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

