<mat-toolbar color="primary">
  <mat-toolbar-row  class="toolbar">
    <img id="logo" src="assets/img/logo_osprey.png" alt="" />
    <span class="example-spacer"></span>
    <h1 class="tagline">
      BACKPACK <br />
      part of your travel
    </h1>
    <img
      routerLink="/cart" routerLinkActive="active"
      id="sc"
      src="https://img.icons8.com/cute-clipart/64/000000/shopping-cart.png"
    />
    {{ data.getTotalCartCost() | currency }}
  </mat-toolbar-row>
</mat-toolbar>

  <mat-grid-list cols="4" rowHeight="500px" class="grid">
    <mat-grid-tile *ngFor="let backpack of data.backpacks">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ backpack.name }}</mat-card-title>
          <mat-card-subtitle>{{ backpack.label }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ backpack.img }}"
          alt="{{ backpack.name }}"
        />
        <mat-card-content>
          <p class="product-price">Price: €{{ backpack.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="backpack.inCart == false" (click)="backpack.inCart = true"  mat-raised-button color="primary">Add to cart</button>
          <button *ngIf="backpack.inCart == true"  (click)="backpack.inCart = false" mat-raised-button color="warn">Remove</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
