/* You can add global styles to this file, and also import other style files */
.header {
    display: block;
    position: relative;
    margin-bottom: 200px;
}

#logo {
    margin: 10px 0 10px 10px;
}

#sc {
    display: flex-end;
    margin-left: 370px;
    margin-bottom: 40px;
    
}

.tagline {
    display: center;
    color: dimgray;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    font-size: 56px;
    font-family: 'Kalam', cursive;
    margin-left: 300px;
    text-align: center;
}

@media screen and (min-width: 450px) {
    .tagline {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .tagline {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .tagline {
        display: inline-flex;
        text-align: center;
    }
}

.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.border_line {
    border-bottom: 1px solid lightgrey;
    width: 250px;
}
